.embla {
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla-thumbs__viewport {
  overflow: hidden;
  width: 100%;
}

.embla-thumbs__container {
  display: flex;
}
