.kb-article-link {
  width: 100%;
  background-color: #f6faf5;
  padding: 20px;
  display: block;
  margin-bottom: 15px;
}

.kb-article-link-title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.kb-article-link-text a {
  color: #338414;
  font-weight: bold;
}

.kb-link-arrow-wrapper {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.kb-contact-content {
  width: 65%;
  float: left;
  padding: 20px;
}

.kb-contact-form {
  width: 100%;
  margin: 10px 0;
  overflow: auto;
  display: flex;
}

.kb-contact-quicklinks-grid {
  display: flex;
  flex-flow: row wrap;
}

.kb-contact-img {
  width: 35%;
  float: left;
  padding: 25px;
}
.kb-contact-us {
  background: #fffef0;
  height: 100%;
  overflow: auto;
}

.kb-contact-button {
  width: 150px;
  font: normal 15px 'Amiko';
  color: #fff;
  border: none;
  border-radius: 3px;
}
.add-to-cart-button {
  background-color: #338414 !important;
  height: 40px !important;
}

.kb-contact-quicklinks-grid {
  display: flex;
  flex-flow: row wrap;
}

.kb-contact-quicklink {
  flex: 50%;
  margin: 10px 0;
  display: flex;
}

.kb-contact-quicklink a {
  display: flex;
  color: #338414;
}

.kb-contact-quicklink-icon {
  width: 25px;
}

.kb-contact-header strong {
  font-size: 40px;
  font-weight: bolder;
  width: 100%;
  display: block;
  line-height: 1em;
}

.kb-contact-header-subtitle {
  margin-left: 0;
}

input[type="text"], input[type="password"], textarea, select {
  height: 36px;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  padding: 8px;
  vertical-align: middle;
}

.kb-contact-button {
  width: 150px;
  font: normal 15px 'Amiko';
  color: #fff;
  border: none;
  border-radius: 3px;
}
