.kb-article-link {
  width: 100%;
  background-color: #f6faf5;
  padding: 20px;
  display: block;
  margin-bottom: 15px;
}

.kb-article-link-title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.kb-article-link-text a {
  color: #338414;
  font-weight: bold;
}

.kb-link-arrow-wrapper {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}